
/*--------- SMALL SCREEN -------*/

@media screen and (max-width: 1680px){


}

/*--------- TABELT DEVICES -------*/

@media screen and (max-width: 1280px){

    body {
        padding: 75px 10%;
    } 

    .navigation {
        padding: 5px 25%;
    }

    h1{
        font-size: 26px;
    }
    
    h2{
        font-size: 22px;
    }

    .home {
        padding: 23% 0;
    }

    .foot div img {
        height: 200px;
        transform: rotate(25deg);
        padding: 0;
    }


}

/*--------- MOBILE DEVICES -------*/

@media screen and (max-width: 850px){

    body {
        padding: 100px 10%;
    } 

    .navigation {
        padding: 5px 15%;
    }

    h1{
        font-size: 22px;
    }
    
    h2{
        font-size: 18px;
    }

    h3{
        font-size: 16px;
    }

    h4{
        font-size: 14px;
    }

    p {
        font-size: 14px;
    }

    .navigation a {
        font-size: 14px;
    }

    .home {
        padding: 25% 0;
    }

    .behandlungen {
        padding: 25% 0;
    }

    .company-name h1 {
        font-size: 40px; /* Größe des Firmennamens anpassen */
    }

    .company-name h1 {
        font-size: 40px; /* Größe des Firmennamens anpassen */
    }

    .nav-links {

        flex-direction: column;
        align-items: center;
        background-color: #f9f9f9;
        padding: 20px;
        position: absolute;
        top: 60px; /* Abstand vom oberen Rand */
        left: -100%; /* Versteckt die Navigation außerhalb des Bildschirms */
        width: 100%;
        transition: left 0.3s ease;
    }

    .nav-links a {
        text-decoration: none;
        color: #333;
        margin: 10px 0;
    }

    .nav-links.active {
        left: 0; /* Zeigt die Navigation, wenn aktiviert */
    }

    .product-list {
        padding: 0 20%;
    }

    .foot div img {
        height: 200px;
        transform: rotate(25deg);
    }

    .foot span{
        font-size: 16px;
    }

}