/*-------------- ROOT ------------------*/
:root{
    --black: #000;
    --creme: #FFF5E1;
    --peach: #f7aa65;
    --lightrose: #fbcbd0;
    --white: #f3f3f3;
    --lightgrey: #dcdcdc;
}

html {
    /* Verbergen der Standardscrollleiste */
    scrollbar-width: none; /* Für Firefox */
    -ms-overflow-style: none; /* Für Internet Explorer und Edge */
}

body {
    /* Cinzel Decorative, Monte Carlo, Great Vibes*/
    font-family: "Playball";
    padding: 50px 20%;
    background-color: var(--lightgrey);
    color: black;
} 

h1{
    color: var(--peach);
    font-size: 32px;
    font-variant: small-caps;
    font-family: "Playball";
}

h2{
    color: var(--black);
    font-size: 26px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

span {
    margin-bottom: 10px;
}

/*------------- HEADER --------------*/

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--white);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25); /* Schatten unter dem Header */
}

.company-name {
    text-align: center;
    padding-top: 20px; /* Platz oberhalb des Headers */
}

.company-name h1 {
    margin: 0;
    font-size: 50px; /* Größe des Firmennamens anpassen */
    color: var(--peach);
}
.company-name h2 {
    margin: 0;
    font-size: 24px; /* Größe des Firmennamens anpassen */
    color: var(--black);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Zentriert die Elemente vertikal */
    list-style: none;
    padding: 5px 35%;
}

.navigation ul li {
    margin: 0 5px; /* Fügt Abstand zwischen den Elementen hinzu */
}

.navigation a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

/* Unterstrich für alle Links */
.navigation a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s;
}

/* Stärkerer Unterstrich für die aktive Seite */
.navigation a.active::after,
.navigation a:hover::after {
    width: 100%; /* Ändere hier die Stärke des Unterstrichs */
}

.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    display: none;
}

.nav-links {
    display: none;
}

/* ----------------- HOME -----------------*/
.home {
    padding: 20% 0;
}

.home .top {
    padding: 30px;
}
.space {
    padding: 50px;
}

.containerlr {
    display: flex;
    padding: 50px 0;
}

.containerlr p {
    text-align: left; /* Links ausgerichteter Text */
}

.containercenter {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.containercenter h1 {
    text-align: center;
}

.image-container {
    position: relative; 
    display: inline-block;
}

.image-container img{
    display: block; 
    max-width: 100%;
    max-height: 600px;
    object-fit: cover;
    height: 100%;
    border-radius: 10px; /* Runde Ecken mit einem Radius von 10px */
    overflow: hidden;
}

/* Stil für das farbige Rechteck hinter dem Bild */
.image-container::before {
    content: ""; 
    position: absolute;
    width: 100%;
    max-height: 600px;
    height: 100%;
    background-color: var(--white);
    border-radius: 10px;
    transform: rotate(-7deg); /* Negative Gradzahl für eine leichte Drehung nach links */
    z-index: -1;
}

.left {
    flex: 1; /* Verhindert, dass sich das Bild anpasst */
    margin-right: 10%; /* Abstand zwischen den DIVs */
}

.right {
    flex: 1; /* Nimmt den verfügbaren Platz ein */
    justify-content: space-between;
}

.top {
    text-align: center;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 2px;
}

/* Aktiver Punkt */
.active {
    background-color: #717171;
}

/*--------- CONTACT -----------*/
.contact{
    padding: 20% 0;
}

.contact span{
    text-transform: uppercase;
}

.contact h2 {
    margin-bottom: 5px;
}

.contact iframe {
    border-radius: 10px;
    width: 100%;
}


/*--------- BEHANDLUNGEN -----------*/

.behandlungen {
    padding: 20% 0;
}

.behandlungen .containercenter {
    padding: 20px 0;
}

.prices {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: right;
    text-align: right;
    position: relative; /* Position des übergeordneten Elements festlegen */
}

.prices::before {
    content: '';
    position: absolute;
    bottom: -5px; /* Negative Position nach unten */
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0 2px 5px rgba(0,0,0,0.25); /* Hier wird der Schatten erzeugt */
}

/*--------- KONTAKT -----------*/

.contact .containercenter {
    text-align: center;
}

.contact .containercenter .image-container::before{
    text-align: center;
}

/*--------- IMPRESSUM -----------*/

.impressum {
    padding: 20% 0;
}

/*--------- FOOTER -----------*/

footer{
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    padding: 0;
    font-weight: 300;
    text-align: center;
    background: var(--white);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25); /* Schatten unter dem Header */
    
}

footer li{
    list-style: none;
}

footer p{
    padding-bottom: 5px;
    margin: 0 10px;
}

footer span{
    font-size: 20px;
    line-height: 3;
}

footer h2{
    margin-bottom: 15px;
}

.foot {
    display: flex;
    height: auto;
    align-items: center; /* Zentriert die Elemente vertikal */
    padding: 20px 0;
}

.foot div{
    flex: 1;

}

.foot div img {
    height: 300px;
    transform: rotate(25deg);
    padding: 0;
}
